@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lucida+Sans:wght@500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    /*header is flexed*/
    /*determined by the viewport*/
    position: fixed;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: linear-gradient(-45deg, rgba(160, 160, 160, .5), transparent);*/
    background: black;
    backdrop-filter: blur(50px);
    padding: 1em 1.5rem;
    width: 100%;
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    /*it is determined by it's nearest element or containing block*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 4%;
    display: none;
    font-size: 2rem;
    color: white;
    font-weight: 00;
    cursor: pointer;
}

.logo {
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: none;
    color: white;
}

nav a {
    position: relative;
    text-decoration: none;
    margin-left: 1rem;
    /*use relative ems for responsive design*/
    margin-right: 1rem;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    cursor: pointer;
}

nav a:hover {
    color: goldenrod;
    transition: .6s;
}

nav a span {
    /*color change on hover effect*/
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    border-bottom: 3px solid goldenrod;
    border-right: none;
    border-left: none;
    transform: scale(0) translateY(100px);
    opacity: 0;
    transition: .5s;
}

nav a:hover span {
    transform: scale(.5) translateY(10px);
    opacity: 1;
}

.email {
    font-family: "Lucida Sans";
    font-size: 24px;
    text-decoration: none;
    font-weight: 700px;
    color: white;
    /*padding-right: 8%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;*/
}

/*CONTAINER*/
/*CONTAINER*/
/*CONTAINER*/

.container .content {
    width: 40%;
    padding-left: 8%;
}

.container {
    /*the container is flexed*/
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: black;
    background-image: url("../images/pikachu2.jpg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom 60% right 40%;
}

.content h1 {
    position: relative;
    font-family: "Lucida Sans";
    font-size: 48px;
    letter-spacing: .5px;
    color: white;
}

.content h1:nth-child(1) {
    word-spacing: .5em;
}

.content h1:nth-child(2) {
    word-spacing: .3em;
}

.content h1:nth-child(3) {
    /*remember the webkit for the letters*/
    background: linear-gradient(to right, orangered, orange, violet, yellow);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 64px;
    font-family: "Kaushan Script";
    letter-spacing: 2.5px;

}

.content p {
    position: relative;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

/*BUTTON*/
/*BUTTON*/
/*BUTTON*/

.content .btn-box {
    /*the buttons are flexed*/
    position: relative;
    display: flex;
    margin-top: 1.5rem;
}

.btn {
    background: goldenrod;
    margin-right: 1.5rem;
    width: 200px;
    text-align: center;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
    border-radius: 1rem;
    font-weight: 800;
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: goldenrod;
    border: 2px solid goldenrod;
}

.btn-box .btn:hover {
    background: goldenrod;
    color: black;
}

.btn-box a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.animate {
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: reveal-text 1.3s ease-out forwards;
    animation-delay: calc(.7s * var(--i));
}

.animate.bg {
    animation: fading 1s ease-out forwards;
    animation-delay: 3.2s;
}

/*FOOTER*/
/*FOOTER*?
/*FOOTER*/

.border {
    /*----Create a border line for the footer maybe----*/
}

.footer {
    display: flex;
    max-width: 1300px;
    margin: 2rem auto;
    width: 100%;
    overflow-x: hidden;
}

.footer div {
    text-align: center;
}

.footer div h3 {
    font-size: 1.3rem;
    letter-spacing: 3px;
}

.col-1 h3 {
    margin-bottom: 1rem;
}

.col-1 a {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: bold;

}

.col-2 {
    flex-grow: 2;
}

.col-2 form input {
    margin-top: 1rem;
    width: 400px;
    height: 32px;
    text-align: center;
    letter-spacing: 2px;
}

.col-2 .paragraph {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    line-height: 1.2rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.col-3 p {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.col-3 div i {
    font-size: 2rem;
    margin: 2rem 1rem 0;
    cursor: pointer;
    color: white;
}

.col-3 div i:nth-child(1):hover {
    color: bisque;
    transition: .1s ease;
}

.col-3 div i:nth-child(2):hover {
    color: blue;
    transition: 1s ease;
}

.col-3 div i:nth-child(3):hover {
    color: lightblue;
    transition: 1s ease;
}

.col-3 div i:nth-child(4):hover {
    color: red;
    transition: 1s ease;
}

@keyframes reveal-text {
    100% {
        width: 0;
    }
}

@keyframes fading {
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {

    .email {
        display: none;
    }

    .logo {
        font-size: 1rem;
    }

    .icons {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0;
        background: black;
    }

    #check:checked~.navbar {
        height: 10rem;
    }

    .navbar a {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        font-size: .8rem;
        letter-spacing: 2px;
        opacity: 0;
        transform: translateY(-50px);
        transition: .5s ease;

    }

    #check:checked~.navbar a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(.13s * var(--i));
    }

    .container {
        background-image: url("../images/pikachu.webp");
        background-size: 40%;
    }

    .container .content {
        width: 100%;
        position: absolute;
        top: 25%;
        bottom: -5%;

    }

    .content h1 {
        font-size: 2rem;
    }

    .content h1:nth-child(3) {
        font-size: 2rem;
    }

    .content p {
        display: block;
        width: 400px;
        margin-top: 1.5rem;
        font-size: .8rem;
    }

    .btn-box .btn {
        font-size: .8rem;
        padding: .5rem 1rem;
    }

    .footer {
        display: block;
        width: 100%;
        max-width: 900px;
    }

    .col-1 a {
        display: inline-flex;
        letter-spacing: 2px;
        font-size: .8rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2rem;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .col-2 {
        flex-grow: 0;
        margin-top: .2rem;
        margin-bottom: 0;
    }

    .col-2 h3 {
        display: none;
    }

    .col-2 form {
        text-align: center;
    }

    .col-2 form input {
        width: 400px;
    }

    .col-2 .paragraph {
        display: none;
        margin-top: 1rem;
        margin-bottom: 8px;
    }

    .col-3 h3 {
        display: none;
    }

    .col-3 p {
        display: none;
    }

    .col-3 .footer-icons {
        display: inline-block;
        left: 0;
    }

    .col-3 .footer-icons i {
        font-size: 1.5rem;
        margin: 1rem .5rem .1rem;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {
    .logo {
        font-size: 1rem;
    }

    .navbar a {
        font-size: .9rem;
        letter-spacing: 1px;
    }

    .email {
        display: none;
    }

    .container {
        background-image: url("../images/ash.jpg");
        background-position: center;
        background-size: 40%;
    }

    .container .content {
        position: absolute;
        top: 50%;
        width: 100%;
        backdrop-filter: blur(2px);
    }

    .content h1 {
        font-size: 1rem;
    }

    .content h1:nth-child(3) {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .content p {
        margin-top: 1rem;
        font-size: .9rem;
    }

    .btn-box .btn {
        font-size: 1.1rem;
        padding: .7rem 1.2rem;
    }

.footer {
        display: block;
        width: 100%;
        max-width: 900px;
    }

    .col-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col-1 h3 {
        display: none;
    }

    .col-1 a {
        margin-left: 2rem;
        font-size: 1.2rem;
    }

    .col-2 {
        margin-bottom: 0;
    }

    .col-2 h3 {
        display: none;
    }

    .col-2 form input {
        width: 600px;
        margin-bottom: 0;
    }

    .col-2 .paragraph {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .col-3 {
        display: block;
        justify-content: center;
    }

    .col-3 h3 {
        display: none;
    }

    .col-3 p {
        display: none;
    }

    .col-3 .footer-icons i {
        margin-top: .5rem;
    }
}
