 /*--------Cell Design--------*/
 /*--------Cell Design--------*/
 /*--------Cell Design--------*/

 @import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lucida+Sans:wght@500;600;700;800;900&display=swap');

 * {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 @media screen and (max-width:1000px) {

     #mobile {
         display: block;
     }

     #computer {
         display: none;
     }

     body {
         font-family: "Lucida Sans";
         width: 100%;
         font-size: .5rem;
         overflow-x: hidden;
     }

     .header {
        position: sticky;
        top: 0;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         border: none;
         padding: .5rem 1rem;
         background-color: white;
         margin-bottom: 0;
         height: 2.5rem;
         z-index: 100;
     }

     .logo {
         display: none;
     }

     .header #shopping-cart i {
         font-size: 1.4rem;
         margin-left: 1rem;
     }

     .search {
        border-bottom: 1px solid black;
        padding: .1rem 0 0;
        margin: 0 auto;
        width: 80%;
     }

      .search input {
        width:90%;
        text-align: center;
        letter-spacing: 2px;
        border: none;
     }

     .search button {
        padding: .1rem .6rem;
        background: transparent;
        border: none;
     }

     .search button .bx {
        font-size: 1.2rem;
     }

     nav {
         position: relative;
     }

     .navbar {
         position: sticky;
         top: 2.5rem;
         width: 100%;
         background-color: black;
         margin-top: 0;
         margin-bottom: 0;
         padding: .6rem 0;
         z-index: 100;
     }

     .navbar .open {
        position: absolute;
        top: .7rem;
        right: 2rem;
        width: 2rem;
        height: 2rem;
        text-indent: 10rem;
        overflow: hidden;
        font-size: 1.5rem;
        font-weight: bold;
        background: transparent;
        color: white;
        border: none;
     }

     .navbar .open::after {
        position: absolute;
        text-indent: 0;
        line-height: .7;
        top: .3rem;
        right: .1rem;
        content: "\2630";
     }

     .navbar .close {
        display: none;
        position: absolute;
        top: .7rem;
        right: 2rem;
        width: 2rem;
        height: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-indent: 10rem;
        overflow: hidden;
        background:transparent;
        color: white;
        border: none;
     }

     .navbar .close::after {
        position: absolute;
        top: .1rem;
        right: .2rem;
        line-height: .7;
        content: "\00D7"; /*need this code for the "x"*/
     }

     .navbar .nav-links-container {
         position: relative;
         margin-top: 0;
     }

     .navbar h2 {
         text-align: center;
         letter-spacing: 6px;
         color: white;
         padding: .3rem 0;
         margin: .3rem auto 0 auto;
         width: fit-content;
     }

     .navbar .nav-links {
         /*----dropdown menu----*/
         display: none;
         position: absolute;
         top: 0;
         right: 0;
         left: 0;
         width: 100%;
         border: 1px solid black;
         color: white;
         padding: .3rem .8rem;
         background-color: rgba(0, 0, 0, .5);
         backdrop-filter: blur(10px);
     }

     .nav-links a {
         display: block;
         text-align: center;
         text-decoration: none;
         color: white;
         font-size: .8rem;
         text-transform: uppercase;
         padding: .3rem .8rem;
         letter-spacing: 2px;
         font-weight: bold;
         margin: 1rem auto;
     }

     /*--------END OF HEADER AND NAVIGATION--------*/
     /*--------END OF HEADER AND NAVIGATION--------*/
     /*--------END OF HEADER AND NAVIGATION--------*/
     .sec-1 {
         border: 1px solid black;
         height: 100vh;
         width: 100%;
     }

     .div-1 {
         max-width: 100%;
         margin: 0 auto;
     }

     .div-1 .mobile-container {
         height: 50vh;
         width: 100%;
         border: 2px solid #330000;
     }

     .div-1 .mobile-background {
         background-image: url("../images/pikachuMobile.jpg");
         background-size: cover;
         background-position: center;
     }

     .div-1 .mobile-sudo {
         height: 32px;
         background-color: rgba(51, 0, 0, .7);
     }

     .div-1 .content {
         display: flex;
     }

     .mobile-content {
         max-width: 100%;
         font-size: 2rem;
         text-align: center;
         background-color: #e2dbcb;
         letter-spacing: 2px;
         border-bottom: 2px solid bisque;
         border-bottom: 2px solid rgba(255, 228, 196, .3);
     }

     .mobile-content p {
        font-family: "Kaushan script";
     }

     .mobile-content .mobile-email {
         text-decoration: none;
         color: black;
         font-size: 1.4rem;
     }

     .mobile-content .mobile-email i {
         margin-left: 1rem;
         font-size: 2rem;
     }

     .meta {
         margin: 1rem auto;
         text-align: center;
         border-top: none;
     }


     .meta h1 {
         margin: 1rem 0;
         letter-spacing: 2px;
     }

     .meta a {
         text-decoration: none;
         color: black;
     }

     .sec-2 {
         width: 100%;
         border: 1px solid black;
         display: none;
     }

     .sec-3 {
        position: relative;
     }


     .slider {
        width: 500px;
        max-width: 100vw;
        height: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
     }

     .list {
     height: 100%;
     display: flex;
     width: max-content;
     }

     .list img {
        width: 500px;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
     }

     .list .active {
        display: block;
     }

     .slider-buttons {
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
     }

     .slider-buttons button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: grey;
        color: #fff;
        border: none;
        font-weight: bold;
     }

     footer {
         border-top: 1px solid black;
         width: 100%;
         margin: 0 auto;
         padding-left: 1rem;
     }

     .footer h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
     }

    .footer {
        font-size: .5rem;
    }

    .footer-content {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .row-1 {
        margin-bottom: 2rem;
    }

    .row-1 h3 {
        margin-bottom: .5rem;
    }

    .row-1 p {
        font-size: .6rem;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 2px;
        color: gray;
        width: fit-content;
    }

    .row-1 form {
        border: none;
        border-bottom: 1px solid black;
        width: fit-content;
        padding-bottom: .3rem;
    }

    .row-1 form input {
        width: 500px;
        border: lightgray;
    }

    .row-2 {
        margin-bottom: 2rem;
    }

    .row-2 a {
        display: block;
        color: black;
        font-size: 1rem;
        text-decoration: none;
        margin-bottom: 1rem;
    }

    .row-3 {
        margin-bottom: 2rem;
    }
    .row-3 a {
        display: block;
        margin-bottom: 1rem;
        color: black;
        text-decoration: none;
        font-size: 1rem;
    }

    .row-3 .footer-icons i {
        font-size: 1.5rem;
        color: black;
        margin-right: 1.5rem;
    }

    .row-4 .footer-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }

    .row-4 .footer-icons i {
        color: black;
        margin-right: 1rem;
    }

    .row-4 h3 {
        margin-bottom: 0;
    }

    .copyright {
        font-size: .6rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
}

 /*--------End of Mobile Design--------*/